# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and debug files
*.log
*.out
*.err

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Django specific
*.sqlite3
db.sqlite3

# Flask specific
instance/
*.db

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
